<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="OAConnString" connectionString="Server=(local);Database=Admission;Integrated Security=SSPI"/>
    <add name="TM" connectionString="server=162.105.71.47,2439;;Initial Catalog=Tom_OA;User ID=sa;Password=MuYangLaoHan"/>
    <add name="TT" connectionString="server=162.105.17.40,1433;;Initial Catalog=Tom_OA;User ID=tom_oa;Password=Mxw#9891"/>
  </connectionStrings>
  <appSettings/>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies/>
    </compilation>
    <authentication mode="Windows"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="2000"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>